<h1 class="mt-5">About Page</h1>

<div class="container-fluid">
  <article>
    <p>This is my simple to do list with EJS, Express JS, and Node JS. For now, I use json as the storage. It`s okay if you wanna use this as enjoying. But, i don`t recommend you to use this for your activity.</p>
    <p><a href="https://aqil2514.netlify.app">See my portfolio here</a></p>
  </article>
</div>
