<div class="container-fluid text-center mt-5">
  <h1>Simple To Do List</h1>
  <h3>Made by <a href="https://aqil2514.netlify.app/" title="See more about me" target="_blank">Muhamad Aqil Maulana</a></h3>
  <a href="/start" class="btn btn-primary">Get Started!</a>
</div>
